<div class="container col-6">
  <h1 class="my-5">Formulario</h1>

  <form (ngSubmit)="enviar()" #forma="ngForm">
    <div class="row">
      <div class="col-5">
        <label for="fname" class="lbl">Nombre:</label>
      </div>

      <div>
        <input type="text" id="fname" placeholder="Nombre" class="form-control" name="nombre" [(ngModel)]="dato.nombre"
          ngModel required minlength="4" #nombre="ngModel" [class.is.invalid]="nombre.invalid && nombre.touched"
          pattern="^[a-zA-zñÑ\s]+$">
      </div>
      <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">
        Ingrese mas de 4 letras
      </small>

      <small class="text-success" *ngIf="nombre.valid && direccion.touched">
        Datos correctos
      </small>
    </div>

    <br>
    <div class="row">
      <div class="col-5">
        <label for="faddress" class="lbl">Direccion</label>
      </div>
      <div>

        <input type="text" id="faddress" placeholder="Direccion" class="form-control" name="direccion"
          [(ngModel)]="dato.direccion" ngModel required minlength="4" #direccion="ngModel"
          [class.is.invalid]="direccion.invalid && direccion.touched" pattern="^[a-zA-zñÑ\s]+$">

      </div>
      <small class="text-danger" *ngIf="direccion.invalid && direccion.touched">
        Ingrese mas de 4 letras
      </small>

      <small class="text-success" *ngIf="direccion.valid && direccion.touched">
        Datos correctos
      </small>
    </div>

    <div class="my-4">
      <input class="form-check-input" type="checkbox" id="terminos" name="aceptar" value="terminos" ngModel required>
      <label class="ms-2" for="terminos">Acepta los terminos y condiciones</label>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!forma.valid">Guardar</button>

    <div *ngIf="enviado">
      <small class="text-success">
        Se enviaron los datos
      </small>
    </div>

  </form>
</div>